<div>
    <h1>Graficos y Estadísticas</h1>
    <hr>

    <!-- <div>
        <div>
            <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
            </div>
            <button class="btn btn-primary" mat-button mat-raised-button color="primary" (click)="randomize()">Actualizar</button>
        </div>
    </div> -->

    <div>
        <div>
            <div style="display: block">
                <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions" [labels]="radarChartLabels" [chartType]="radarChartType">
            </canvas>
            </div>
        </div>
    </div>

</div>